<div class="dashboard-container" [formGroup]="dashboardForm">
  <h3>Efectividad de cobro</h3>
  <ng-container class="charts-container" formGroupName="stackedBarsChartForm">
    <div class="chart-wrapper">
      <div class="left-side">
        <div class="subtitle">
          <h4>Período:</h4>
          <div *ngIf="dashboardForm.get('stackedBarsChartForm.start')?.value; else noDate">
            <h4>
              {{ dashboardForm.get('stackedBarsChartForm.start')?.value | date : 'dd/MM/yyyy' }}
              hasta
              {{ dashboardForm.get('stackedBarsChartForm.end')?.value | date : 'dd/MM/yyyy' }}
            </h4>
          </div>
          <ng-template #noDate>
            <h4>Mes vigente</h4>
          </ng-template>
        </div>
        <div class="controls">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Clientes" formControlName="clientName" multiple>
              <mat-option *ngFor="let client of clients" [value]="client.name">{{client.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Rango de búsqueda</mat-label>
            <mat-date-range-input [rangePicker]="dateRangePicker">
              <input matStartDate placeholder="Fecha de inicio" formControlName="start" />
              <input matEndDate placeholder="Fecha de fin" formControlName="end" />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
          </mat-form-field>

          <button mat-raised-button color="primary" (click)="loadPaymentsForAllClients()">
            Cargar Pagos
          </button>
        </div>
      </div>

      <!-- <app-line-chart [data]="lineChartData" [labels]="lineChartLabels" [view]="view"></app-line-chart> -->
      <div class="right-side">
        <ngx-charts-bar-vertical-stacked
          [view]="view"
          [scheme]="colorScheme"
          [results]="data"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          [yScaleMax]="maxValue"
          [barPadding]="60"
          [legendPosition]="legendPosition"
        >
        </ngx-charts-bar-vertical-stacked>
      </div>
      <div class="efficiency-cards" [ngClass]="{ 'small-cards': data.length > 3 }">
        <div *ngFor="let client of data" class="efficiency-card" [ngClass]="{ 'small-card': data.length > 3 }">
          <h5>{{ client.name }}</h5>
          <div>
            <div class="card-content">
              <!-- Columna de la eficiencia -->
              <div class="efficiency-column">
                <div class="efficiency-container">
                  <p class="efficiency-label">Deuda total</p>
                  <p class="debt-value">{{ client.totalDebtSum }}</p>
                </div>
                <div class="efficiency-container">
                  <p class="efficiency-label">Eficacia de cobro</p>
                  <p class="efficiency-value">{{ client.collectionEfficiency }}%</p>
                </div>
              </div>

              <!-- Columna de los detalles -->
              <!-- <div class="details-column">
                <p>
                  <strong>Monto cobrado:</strong>
                  <span class="value">{{ client.totalDebitAmountSum | currency }}</span>
                </p>
                <p>
                  <strong>Monto de deuda restante:</strong>
                  <span class="value">{{ client.totalRemainingDebtSum | currency }}</span>
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
