.graphs-container {
  padding: 20px;
}

.graphs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  // grid-auto-rows: 200px

  h3 {
    font-size: 22px;
    color: #666464;
  }

  p {
    font-size: 1.1rem;
    color: #4d4a4a;
  }
}

.graph-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  gap: 30px
}

.graph-card:hover {
  transform: scale(1.05);
}

.graph-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
}
