<div class="dashboard-container">
  <div class="dashboard-header">
    <h2>Dashboard</h2>
    <div class="buttons">
      <!-- <button mat-raised-button color="primary" (click)="generatePagba()">Generar PAGBA</button> -->
      <button mat-raised-button color="primary" (click)="openClientModal()">Clientes</button>
      <button mat-raised-button color="primary" (click)="openDialog()">Subir Archivo</button>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!-- <router-outlet name="selector"></router-outlet>

  <router-outlet name="line-chart"></router-outlet> -->
</div>
