<h1 mat-dialog-title>Subir Archivo</h1>
<mat-dialog-content [formGroup]="form" #inputForm color="primary">
  <mat-form-field
    id="file-type-form-field"
    appearance="outline"
    class="file-type-form-field"
    floatLabel="always"
  >
    <mat-label>Entidad financiera</mat-label>
    <mat-select formControlName="client">
      <mat-option
        *ngFor="let client of clients"
        [value]="client.name"
        (onSelectionChange)="selectedClientId = client.clientId.toString()"
      >
        {{ client.clientId }} - {{ client.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    id="file-type-form-field"
    appearance="outline"
    class="file-type-form-field"
    floatLabel="always"
  >
    <mat-label>Archivo</mat-label>
    <mat-select formControlName="fileType" (selectionChange)="fileTypeSelected($event)">
      <mat-option value="deudas" default>Liquidaciones (Deudas por cobrar)</mat-option>
      <mat-option value="cobros">PAGBA (Cobros realizados)</mat-option>
      <mat-option value="reversas">Bajas y reversas</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="file-form-field">
    <p *ngIf="filesLabel">{{ filesLabel }}</p>
    <button mat-button (click)="fileInput.click()">
      <mat-icon matIconPrefix matTooltip="Choose file(s)..."> attach_file</mat-icon>
      Seleccionar archivo
    </button>
  </div>
  <input
    hidden
    type="file"
    [accept]="fileAccept"
    (change)="onSelectedFiles($event, 'main')"
    #fileInput
    [multiple]="form.get('multipleFilesAccepted')?.value"
  />
  <p *ngIf="isFileRepeated" class="error-message">El archivo ya existe en la base de datos.</p>
  <div class="file-form-field" *ngIf="isPagbaSelected">
    <p *ngIf="filesLabel">{{ filesLabel }}</p>
    <button mat-button (click)="fileInputOptional.click()">
      <mat-icon matIconPrefix matTooltip="Choose file(s)..."> attach_file</mat-icon>
      Seleccionar SDA correspondiente
    </button>
  </div>
  <input
    hidden
    type="file"
    [accept]="fileAccept"
    (change)="onSelectedFiles($event, 'secondary')"
    #fileInputOptional
    [multiple]="form.get('multipleFilesAccepted')?.value"
  />
  <div class="file-type-form-field toggle-container">
    <mat-slide-toggle formControlName="multipleFilesAccepted" color="primary">
      Permitir múltiples archivos
    </mat-slide-toggle>
  </div>

  <mat-dialog-actions>
    <button mat-stroked-button color="warn" (click)="onCloseClick()">Cerrar</button>
    <button mat-mini-fab (click)="downloadExcel()" [disabled]="!(uploadSuccess$ | async)">
      <mat-icon>download</mat-icon>
    </button>
    <button
      mat-flat-button
      color="primary"
      type="button"
      form="inputForm"
      (click)="onUploadFiles()"
      [disabled]="!form.valid || !files || isFileRepeated"
    >
      Enviar
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
