:host {
  margin: 10px;
}

.table-section {
  width: 60vw;
  border: 1px solid lightgray;
}

.files-layout {
  display: flex;
  justify-content: space-around;
}

.files-toolbar {
  padding: 8px 15px;

  .toolbar-title {
    font-size: 1.1rem;;
  }
}

.table-container {
  box-shadow: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.table-section {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.files-toolbar {
  flex-shrink: 0;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
}

mat-paginator {
  flex-shrink: 0;
}

td, th {
  text-align: center;
  justify-content: center;
}
